<!DOCTYPE html>

<h1>blinky</h1>
<p><strong>Synced:</strong> {{ .Local.LastSync.Format "Jan-2 15:04" }} &mdash; {{ .Local.Status }}</p>
<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Upgrade</th>
  </tr>
  {{- range .Local.Packages }}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .Version }}</td>
      <td>{{ .Upgrade }}</td>
    </tr>
  {{- end }}
</table>
{{- range .Network }}
  <h3>[{{ .Ip.String }}] {{ .Hostname }}</h3>
  <p><strong>Synced:</strong> {{ .Snapshot.LastSync.Format "Jan-2 15:04" }} &mdash; {{ .Snapshot.Status }}</p>
  <table>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Upgrade</th>
    </tr>
    {{- range .Snapshot.Packages }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Version }}</td>
        <td>{{ .Upgrade }}</td>
      </tr>
    {{- end }}
  </table>
{{- end }}
