<!DOCTYPE html>

<h1>blinky</h1>
{{- block "snapshot" .Local }}
<p><strong>Synced:</strong> {{ .LastSync.Format "Jan-2 15:04" }} &mdash; {{ .Status }}</p>
<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Upgrade</th>
  </tr>
  {{- range .Packages }}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .Version }}</td>
      <td>{{ .Upgrade }}</td>
    </tr>
  {{- end }}
</table>
{{- end }}

{{- range .Network }}
  <h3>{{ .Ip.String }} &mdash; {{ .Hostnames }}</h3>
  {{- template "snapshot" .Snapshot }}
{{- end }}
