[Unit]
Description=blinky pacman monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/blinky
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
